body {
    background-image: url('./Assets/annie-spratt-unsplash.jpg');
    background-size: cover;
    background-position: center center;
}

nav {
    background-image: url('https://source.unsplash.com/1600x1900/?mountains');
    background-size: cover;
    background-position: center center;
    height: rem;
    position: sticky;
}

.container {
    /* justify-content: flex; */
    background-color: white;
    opacity: .7;
    padding: 2rem;
    margin: 3rem;
    border-radius: 2rem;
    text-align: center;
}

button {
    
}

.search-bar {
    background-color: black;
    border: none;
    opacity: .6;
    color: white;
    font-size: 100%;
    margin: auto; */
    border-radius: 1.5rem;
    outline: none;
}
button {
    margin: 0 0 0 .2rem;
    border-radius: 1rem;
    border: none;
    height: 20px;
    width: 20px;
    cursor: pointer;
}
